@import "tailwindcss";

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
}
